<!DOCTYPE html>
<html xmlns:lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Outfit Pro - Prendas</title>
	<link rel="stylesheet" id="bootstrap-css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/clothing.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form th:action="@{/clothing/registrar}" method="post" th:object="${clothing}">
			<div class="form-group">
				<input type="hidden" class="form-control" th:field="*{id}"></input>

				<div class="form-group">
					<label for="name">Nombre</label>
					<input type="text" th:field="*{name}" class="form-control" id="name"></input>
					<div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
				</div>
				
				<div class="form-group">
					<label for="clothingType" class="col-sm-2 col-form-label">Tipo de prenda</label>
					<select class="form-control" th:field="*{clothingType.id}">
						<option th:each="m: ${listaClothingTypes}" th:value="${m.id}" th:text="${m.name}"></option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="commerce" class="col-sm-2 col-form-label">Comercio</label>
					<select class="form-control" th:field="*{commerce.id}">
						<option th:each="m: ${listaCommerces}" th:value="${m.id}" th:text="${m.name}"></option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="mark" class="col-sm-2 col-form-label">Marca</label>
					<select class="form-control" th:field="*{mark.id}">
						<option th:each="m: ${listaMarks}" th:value="${m.id}" th:text="${m.name}"></option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="gender">Género</label>
					<select class="form-control" th:field="*{gender}">
						<option th:value="'Masculino'" th:text="'Masculino'" ></option>
						<option th:value="'Femenino'" th:text="'Femenino'" ></option>
					</select>
					<div class="alert alert-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
				</div>
								
				<div class="form-group">
					<label for="size">Talla</label>
					<select class="form-control" th:field="*{size}">
						<option th:value="'Extra small'" th:text="'Extra small'" ></option>
						<option th:value="'Small'" th:text="'Small'" ></option>
						<option th:value="'Medium'" th:text="'Medium'" ></option>
						<option th:value="'Large'" th:text="'Large'" ></option>
						<option th:value="'Extra large'" th:text="'Extra large'" ></option>
					</select>
					<div class="alert alert-danger" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></div>
				</div>
				
				<div class="form-group">
					<label for="color">Color</label>
					<input type="color" th:field="*{color}" id="color"></input>
					<div class="alert alert-danger" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>
				</div>
				
				<div class="form-group">
					<label for="price">Precio</label>
					<input type="number" th:field="*{price}" class="form-control" id="price"></input>
					<div class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
				</div>
				
				<div class="form-group">
					<label for="discount" class="col-sm-2 col-form-label">Descuento</label>
					<select class="form-control" th:field="*{discount.id}">
						<option th:each="m: ${listaDiscounts}" th:value="${m.id}" th:text="${m.name}"></option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="stock">Stock</label>
					<input type="number" th:field="*{stock}" class="form-control" id="stock"></input>
					<div class="alert alert-danger" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
			<a href="/clothing/listar" class="btn btn-danger">Cancelar</a>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
