<!DOCTYPE html>
<html xmlns:lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Outfit Pro - Asesoría en curso</title>
	<link rel="stylesheet" id="bootstrap-css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form th:action="@{/consultings/registrar}" method="post" th:object="${consulting}">
			<input type="hidden" th:field="*{id}"/>
			<input type="hidden" th:field="*{assessor.id}"/>
			<input type="hidden" th:field="*{dateTime}"/>
			
			<div class="row clearfix">
				<div class="col-md-12 column" align="center">
					<img th:src="@{/img/zoom.png}" width="700" height="500" alt="logo" align="middle"></img>
				</div>
			</div>
			
			<div class="form-group">
				<label for="calification" class="col-form-label">Calificación</label>
				<input type="number" th:field="*{calification}" class="form-control" id="calification"/>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('calification')}" th:errors="*{calification}"></div>
			</div>
			
			<div style="margin-top:30px;margin-bottom:30px">
				<center>
				<button type="submit" class="btn btn-primary">Finalizar asesoría</button>
				</center>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
