<!DOCTYPE html>
<html xmlns:lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Outfit Pro - Bienvenido a nuestra tienda online</title>
	<link rel="stylesheet" id="bootstrap-css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" align="center">
					<img th:src="@{/img/imagen.png}" width="700" height="500" alt="logo" align="middle"></img>
				</div>
			</div>
		</form>
	</div>
	<hr style="border-color:black;"size="1000">
	
	<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" align="center">
					<head>
  					<style>
   					 h1 { color: #000000; }
 					 </style>
					</head>
					<body>
 					
 					 <H1><font face="courier new">"La diferencia entre estilo y moda esta en la calidad" </font> </H1>
					</body> 
						<video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/fashion.jpg" playsinline autoplay muted loop>
						<source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/fashion.webm" type="video/webm">
						<source src="http://thenewcode.com/assets/videos/fashion.mp4" type="video/mp4">
						</video>
					</div>
				</div>
			</form>
		</div>
	<hr style="border-color:red;"size="1000">
	
	<br><br><br>
		<H1 align="center"><font face="arial">---->>Catalogo<<---- </font> </H1>
		<hr style="border-color:red;"size="50">
	
		<H1 align="center"><font face="arial">+Polos</font> </H1>
		<hr style="border-color:black;"size="50">
	
	<H1 align="left"><font face="arial">&nbsp;&nbsp;+Gris&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Negro</font> </H1>
	
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" align="center">
						<img th:src="@{/img/8.jpg}" width="400" height="350" alt="logo" align="right" border="black"></ga2>
						<img th:src="@{/img/9.jpg}" width="400" height="350" alt="logo" align="left"></1>
					</div>	
				</div>
			</form>
		</div>
		<br>
		<H1 align="left"><font face="arial">&nbsp;&nbsp;+Celeste&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Azul</font> </H1>
		
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" align="center">
						<img th:src="@{/img/10.jpg}" width="400" height="350" alt="logo" align="right" border="black"></ga2>
						<img th:src="@{/img/3.jpg}" width="400" height="350" alt="logo" align="left"></1>
					</div>	
				</div>
			</form>
		</div>
		
		
		<hr style="border-color:black;"size="50">
	
	<br><br><br>
		<H1 align="center"><font face="arial">+Poleras</font> </H1>
		<hr style="border-color:black;"size="50">
		
				<H1 align="left"><font face="arial">&nbsp;&nbsp;+Azul Marino&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Negro</font> </H1>
		
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" align="center">
						<img th:src="@{/img/11.jpg}" width="400" height="350" alt="logo" align="right" border="black"></ga2>
						<img th:src="@{/img/12.jpg}" width="400" height="350" alt="logo" align="left"></1>
					</div>	
				</div>
			</form>
		</div>
		<br>
		<H1 align="left"><font face="arial">&nbsp;&nbsp;+Azul &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Negro</font> </H1>
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" align="center">
						<img th:src="@{/img/6.jpg}" width="400" height="350" alt="logo" align="right" border="black"></ga2>
						<img th:src="@{/img/7.jpg}" width="400" height="350" alt="logo" align="left"></1>
					</div>	
				</div>
			</form>
		</div>
		
		<hr style="border-color:black;"size="50">
	
	<br><br><br>
		<H1 align="center"><font face="arial">+Chompas </font> </H1>
		<hr style="border-color:black;"size="50">
		
		<H1 align="left"><font face="arial">&nbsp;&nbsp;+Rayas Roja &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Negro</font> </H1>
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" align="center">
						<img th:src="@{/img/5.jpg}" width="400" height="350" alt="logo" align="right" border="black"></ga2>
						<img th:src="@{/img/4.jpg}" width="400" height="350" alt="logo" align="left"></1>
					</div>	
				</div>
			</form>
		</div>
    <br>
	<H1 align="left"><font face="arial">&nbsp;&nbsp;+Gris &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Verde Oscuro</font> </H1>
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" align="center">
						<img th:src="@{/img/13.jpg}" width="400" height="350" alt="logo" align="right" border="black"></ga2>
						<img th:src="@{/img/14.jpg}" width="400" height="350" alt="logo" align="left"></1>
					</div>	
				</div>
			</form>
		</div>
	<hr style="border-color:black;"size="50">
	
	<br><br><br>
		<H1 align="center"><font face="arial">+Pantalones </font> </H1>
		<hr style="border-color:black;"size="50">
	<H1 align="left"><font face="arial">&nbsp;&nbsp;+Cuadros Negros &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Rasgado Gris</font> </H1>
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" align="center">
						<img th:src="@{/img/15.jpg}" width="400" height="350" alt="logo" align="right" border="black"></ga2>
						<img th:src="@{/img/16.png}" width="400" height="350" alt="logo" align="left"></1>
					</div>	
				</div>
			</form>
		</div>
    <br>
	<H1 align="left"><font face="arial">&nbsp;&nbsp;+Gris &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Cuadros Rojo</font> </H1>
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" align="center">
						<img th:src="@{/img/17.png}" width="400" height="350" alt="logo" align="right" border="black"></ga2>
						<img th:src="@{/img/18.png}" width="400" height="350" alt="logo" align="left"></1>
					</div>	
				</div>
			</form>
		</div>
		<hr style="border-color:black;"size="50">
	
	
	
	<div th:replace="fragments/footer :: footer"></div>
	<body th:style = "'background:url(' + @{/img/p2.jpeg} + ');'">
</body>
</html>
