<!DOCTYPE html>
<html xmlns:lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Outfit Pro - Inicio de sesión</title>
	<link rel="stylesheet" id="bootstrap-css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<center><h3>Inicia sesión con tu cuenta</h3></center>
						<br>
					</div>
					
					<div class="card-body">
						<form th:action="@{/login}" method="post">
							<div class="form-group row">
					            <label for="username" class="col-md-2 col-form-label text-md-right">Usuario</label>
					            <div class="col-md-4">
									<input type="text" name="username" id="username" class="form-control" autofocus="true" required="true">
					        	</div>
					        </div>
					
					        <div class="form-group row">
					            <label for="password" class="col-md-2 col-form-label text-md-right">Contraseña</label>
								<div class="col-md-4">
									<input type="password" name="password" id="password" class="form-control" required="true">
			        			</div>
			        		</div>
		
							<div class="form-group row">
	                            <div class="col-md-4 offset-md-2">
	                                <div class="form-check">
	                                    <input class="form-check-input" type="checkbox" name="remember" id="remember">
	                                    <label class="form-check-label" for="remember">Recuérdame</label>
	                                </div>
	                            </div>
	                        </div>
	                        
							<div class="form-group row mb-0">
					            <div class="col-md-6 offset-md-4">
					                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Iniciar sesión" />
					            </div>
					        </div>
							
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</form>
						
						<div class="form-group row mb-0">
						    <div class="col-md-4 offset-md-2">
						    	<center><p><a class="btn btn-link" href="{{ route('password.request') }}">¿Olvidó su contraseña?</a></p></center>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>