<!DOCTYPE html>
<html xmlns:lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Outfit Pro - Listado de tallas</title>
	<link rel="stylesheet" id="bootstrap-css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<h3 style="margin-bottom:30px">Listado de tallas</h3>
		
		<form th:action="@{/sizes/buscar}" method="post" th:object="${size}">
			<div style="float:left">
				<a th:href="@{/sizes/irRegistrar}" id="add-row" type="button" class="btn btn-primary btn-md left-block"> 
					<span class="glyphicon glyphicon-plus"></span> Nueva talla
				</a>
			</div>
			
			<div style="float:right">
				<input type="text" th:field="*{name}" id="name"></input>
				<button type="submit" th:href="@{/sizes/listar}" id="add-row" class="btn btn-primary btn-md left-block"> 
					<span class="glyphicon glyphicon-search"></span> 
				</button>
			</div>
		</form>
		
		<br><br><br>
		
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<table class="table table-bordered table-hover table-striped" id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">Nombre</th>
								<th class="text-center">Tipo de prenda</th>
								<th class="text-center">Operaciones</th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="due: ${listaSizes}">
								<td th:text="${due.name}"></td>
								<td th:text="${due.clothingType.name}"></td>
								<td style="text-align: center">
									<a th:href="@{'/sizes/modificar/' + ${due.id}}">
										<span class="glyphicon glyphicon-edit" title="Editar"></span>
									</a>
									<a th:href="@{/sizes/eliminar?id=} + ${due.id}">
										<span class="glyphicon glyphicon-trash" title="Eliminar"></span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>		
				</div>
			</div>
			
			<div th:if="${mensaje}" class="alert alert-danger">
				<p th:text="${mensaje}"></p>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
