<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link rel="stylesheet" id="bootstrap-css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- th:fragment define un fragment los cuales sirven para evitar la redundancia de codigo -->
	<!-- Sintaxis th:fragment="Nombre del fragment" -->
	<div th:fragment="header">
		<!-- this is header -->
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}">Outfit Pro</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/sizes/}">Tallas</a></li>
						<li class="active"><a th:href="@{/colors/}">Colores</a></li>
						<li class="active"><a th:href="@{/marks/}">Marcas</a></li>
						<li class="active"><a th:href="@{/commerces/}">Comercios</a></li>
						<li class="active"><a th:href="@{/clothingTypes/}">Tipos de prenda</a></li>
						<li class="active"><a th:href="@{/clothings/}">Prendas</a></li>
						<li class="active"><a th:href="@{/discounts/}">Descuentos</a></li>
						<li class="active"><a th:href="@{/preferences/}">Mis preferencias</a></li>
						<li class="active"><a th:href="@{/consultings/}">Mis asesorías</a></li>
						<li class="nav-link">
							<form id="logoutForm" th:action="@{/logout}" method="post">
								<button type="submit" class="btn btn-dark" onclick="document.getElementById('logoutForm').submit();">Salir</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>
